* {
  font-family: 'Taviraj', serif;
}
body {
  padding-right: 10%;
  padding-left: 10%;
}

article {
  /*align-content: center;V*/
  max-width: 50em;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}
p {
  font-weight: 400;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-weight: 200;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social {
  align-self: center;
}