<!DOCTYPE html>

<html>
    <head>
        <title>Blog Project</title>
    </head>

    <style type="text/css">
        body {
            width: 800px;
            margin: 0 auto;
            padding: 10px;
        }
        h1, .new_post {
            text-align: center;
        }

        .blog_post {
            display: flex;
            justify-content: center;
        }
        input[type=text]{
            width: 500px;
            font-size: 20px;
            padding: 2px;
            margin-bottom: 15px;
        }
        textarea {
            width: 500px;
            height: 275px;
            font-family: monospace;
            margin-bottom: 15px;
        }
        input[type=submit] {
            font-size: 24px;
        }
        .blog {
            padding-bottom: 55px;
        }
    </style>

    <body>
        {% block content %}
        {% endblock %}
    </body>

</html>