{% extends "base.html" %}

{% block content %}

        <h1>Dan's Blog</h1>
       {% for blog in posts %}
            <div class="blog">
                <div class="blog-title">
                        <h3>{{blog.title}}</h3>
                </div>
                <hr>
                <pre class="blog-body">{{blog.blog_body}}</pre>
            </div>
        {% endfor %}
       <div class="new_post">
                <a href="/blog/newpost">New Post</a>
        </div>

{% endblock %}