{% extends "base.html" %}

{% block content %}

        <h1>Blog</h1>

        <div class="blog_post">
            <form method="post">
                <label>
                    <div style="padding-bottom: 5px;">blog title</div>
                    <input type="text" name="blog_title" value="{{blog_title}}">
                </label>

                <label>
                    <div>Blog Post</div>
                    <textarea name="blog_body">{{blog_body}}</textarea>
                </label>

                <div class="error">{{error}}</div>

                <input type="submit">
            </form>
        </div>

    </body>
</html>

{% endblock %}