<!DOCTYPE html>

<html>
    <head>
        <title>Unit 2 Sign Up</title>
        <style type="text/css">
        .label {text-align:right}
        .error {color:red}
        </style>
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>

</html>
