{% extends "base.html" %}

{% block content %}

<h2>Signup</h2>
<form method="post">
    <table>
        <tr>
            <td class="label">
                Username
            </td>
            <td>
                <input type="text" name="username" value="{{username}}">
            </td>
            <td class="error">
                {% if name_error %}
                    That is not a valid username.
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">
                Password
            </td>
            <td>
                <input type="password" name="password" value="">
            </td>
            <td class="error">
                {%if pass_error %}
                    That is not a valid password.
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">
                Verify Password
            </td>
            <td>
                <input type="password" name="verify" value="">
            </td>
            <td class="error">
                {% if valid_pass_error %}
                    Your passwords do not match.
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">
                Email (optional)
            </td>
            <td>
                <input type="text" name="email" value="{{email}}">
            </td>
            <td class="error">
                {% if email_error %}
                    That's not a valid email.
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="submit">
</form>

{% endblock %}
