{% extends "base.html" %}

{% block content %}

<ol>
    {% for x in range(1, n) %}
        {% if x%3==0 and x%5==0 %}
            <li>FizzBuzz</li>
        {% elif x%3==0 %}
            <li>Fizz</li>
        {% elif x%5==0 %}
            <li>Buzz</li>
        {% else %}
            <li>{{ x }}</li>
        {% endif %}
    {% endfor %}
</ol>

{% endblock %}