{% extends "base.html" %}

{% block content %}

<form>
    <h2>Add a Food</h2>
    <input type="text" name="food">
    {% if items %}
        {% for item in items %}
            <input type="hidden" name="food" value="{{ item }}">
        {% endfor %}
    {% endif %}
    <button>Add</button>
</form>

{% if items %}
    <h2>Shopping List</h2>
    <ol>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ol>
{% endif %}

{% endblock %}