* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

* {
   outline: 1px solid red !important;
}

.app {
    display: -webkit-flex;
    display:flex;
    flex-direction: row;
}

.screenshot {
    max-width: 460px;
    margin-right: 25px;
    }

.description {
    max-width: 705px;
 }